<% provide(:title, 'Index') %>
<nav class="navbar navbar-default indexHeader" role="navigation">

<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
			<h1 class="mainIndexHTitle text-center">Simple Blog</h1>
	
    
  </div>


</nav>
