<nav class="navbar navbar-default indexHeader main" role="navigation">

		<div class="container-fluid main">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    
					<p class='navbar-text mainHeaderText'>Simple Blog</p>
				  <% if user_signed_in? %>
				  	<p class= 'navbar-right mainHeaderRight pull-right'><%= label_tag "User: ", nil %>&nbsp<%= link_to "#{current_user.email}",  current_user%></p>
				  <% end %>
				  <br>
		    	<%= link_to 'Not you?', destroy_user_session_path, method: :delete, class: 'navbar-right' %>
		  </div>


	</nav>