html,body{
	height: 100%;
}

.indexHeader.main{
	height: 15%;
	background-color: #80CCE6;
}

.indexHeader.staff{
	height: 15%;
	background-color: #ABAB9B;
}

.mainIndexHTitle{
	font-size: 3em;
	color: #FFFFFF;
}

.container-fluid{
	text-align: center;
}

.staffLeft.menu{
	border: solid;
	margin: 0 0 1% 1%;
	background-color: #eeeeee;
	min-height: 30%;
}

