html,body{
	height: 100%;
}

.indexHeader.main{
	height: 10%;
	
	background-color: #80CCE6;
}

.indexHeader.staff{
	height: 15%;
	background-color: #ABAB9B;
}

.mainHeaderText{
	width: 20%;
	color: #FFFFFF !important;
	font-size: 3em !important;
	display:block;
	margin-left: 35%;
}


.mainIndexHTitle{
	padding-top: 10px;
	font-size: 3em;
	color: #FFFFFF;
}

.container-fluid{
	text-align: center;
}

.staffLeft.menu{
	border: solid;
	margin: 0 0 1% 1%;
	background-color: #eeeeee;
	min-height: 30%;
}

.tableContainer{
	float: left;
	margin-right: 10%;
}

.categoryList{	
	border: solid;
	min-height: 20%;
	float: left;

}

.actions{
	clear: both;
}


.submit_button{
	margin-left: 35%;
}

.categoriesPageTable{
	width: 85%;
	margin-left: 2%;
	margin-bottom: 10%;
	
	-webkit-box-shadow: 2px 2px 2px 2px #eee;
	-moz-box-shadow: 2px 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px 2px #eee;
}

.catNavs{
	float:right;
	padding-left: 30px;
}

.categoryForm{
	width: 100%;
}

.categorySubmit{
	width:70px;
}

.button_to{
	width: 10%;	
	margin-left: auto;
	margin-right: auto;
}

