html,body{
	height: 100%;
}

.indexHeader.main{
	height: 15%;
	background-color: #80CCE6;
}

.indexHeader.staff{
	height: 15%;
	background-color: #ABAB9B;
}

.mainIndexHTitle{
	font-size: 3em;
	color: #FFFFFF;
}

.container-fluid{
	text-align: center;
}

.staffLeft.menu{
	border: solid;
	margin: 0 0 1% 1%;
	background-color: #eeeeee;
	min-height: 30%;
}

.tableContainer{
	float: left;
	margin-right: 10%;
}

.categoryList{	
	border: solid;
	min-height: 20%;
	float: left;

}

.actions{
	clear: both;
}

.displayPosts{
	-webkit-box-shadow: 2px 2px 2px 2px #eee;
	-moz-box-shadow: 2px 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px 2px #eee;
	width: 45%;
	min-height: 20%;
}

.indexUserLink{
	font-size: 1.5em;
}